*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    list-style: none;
}
.navLink{
    text-decoration: none;
    
}
.navLink>h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
  
}
.navLink>h1:hover{
    color:#FFC107;
    
}



/* first page */
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 50px;
}
.leftSide{
flex: 0.6;
}
.rightSide{
    flex: 0.4;
    
}
.rightSide>img{
    width: 600px;
}
button{
    color: #5b5b5b ;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size:14px ;
    line-height: normal;
    transition: all 0.4s ease;
    border:#eee;
    margin: 5px 2px;
}
button:hover{
    background-color:#5b5b5b!important ;
    color:#FFC107;
}
.threedots:hover{
    color:#FFC107; 
}

/* stack */
.fll{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.icon{
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}
.icon:hover{
    filter: none;
    transition: .3s ease-in-out

}
.gridSkill{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 100px;
    
}






/* Project page  */

.project{
    width: 100%;
    
    display: block;
    overflow: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    width: 60%;
    padding:20px;

}
.cardLeft{
    flex:0.6;
  padding:0px 15px ;
}
.cardRight{
    flex:0.4;
}
.cardRight>img{
    width: 100%;
  
}
.btnHover{
    border: none;
}
.btnHover:hover{
    background: #FFC107!important;
   
    color: black;
    font-weight: 600;
    
}

/* aboutme */

.aboutMe{
    width: 100%;
    height: 80vh;
    padding:15px 50px ;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutmeCard{
    display: flex;
    justify-content: center;
}
.aboutmeCard>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.aboutMeText{
    flex: 0.4;
    margin-left: 20px;
}
/* contact */
.contactMe{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.contactImg{
    height: 400px;
}


.footer{
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer>h2{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    -webkit-background-clip: text;
}
li:hover{
    color: #30CFD0; 
    cursor: pointer;
    
}
#changeTxt:hover::after{
  content: " Not Working";
}




/* responsive design code */

@media screen and (max-width:1100px){
    .rightSide>img{
        width: 450px;
    }
    .cards{
        
        width: 80%;
        padding:20px;
    
    }
    .gridSkill{
        column-gap: 60px;
    }
    .contactImg{
        height: 350px;
    }
    

}
@media screen and (max-width:900px){
    #btn_coll{
        display: flex;
        flex-direction: column;
    }
    .button{
        margin-bottom: 15px;
    }
    .rightSide>img{
        width: 350px;
    }
    .cards{
        
        width: 90%;
        padding:10px;
    
    }
    .aboutMe{
       height: 100vh; 
        padding:20px 10px;
        text-align: center;
        
    }
    .aboutmeCard>img{
        width: 250px;
        height: 250px;

    }
    #fontChaiye{
        font-size: 12px;
    }
    .gridSkill{
        grid-template-columns: auto auto auto;
    }
    .gridSkill{
        column-gap: 70px;
        row-gap: 50px;
    }
}
@media screen and (max-width:800px){
    .landing{
        padding-top: 100px;
        flex-direction: column;
        
    }
    .cards{
        
        width: 96%;
        padding:10px;
    
    }
    .aboutmeCard{
        flex-direction: column;
        align-items: center;
    }
    .footer>h1{
        font-size: 24px;

    }
    #aboutMe{
        flex-direction: column;
        align-items: center;
    }
    .formula{
        width: 50%;
    }
    
}
@media screen and (max-width:500px){
    
    .cards{
      flex-direction: column;
     align-items: center;
     justify-content: space-between;
    }
    .cardLeft{
        margin: 15px 0px;
    }
    .footer>h1{
        font-size: 18px;

    }
    .ul{
        flex-direction: column;
        align-items: center;
    }
    .gridSkill{
        grid-template-columns: auto auto ;
    }
    .fll{
        margin-bottom: 50px;
    }
    .gridSkill{
        column-gap: 30px;
        row-gap: 40px;
    }
    .formula{
        width: 75%;
    }
    .contactImg{
       width: 250px;
    }
}

@media screen and (max-width:300px){
    .rightSide>img{
        width: 200px;
    }
}